/* Ferro Text Waves */
.ferro-text-waves{
    position: relative;
    display: grid;
    place-items: center;
}
.ferro-text-waves h1{
    position: absolute;
}
.ferro-text-waves h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #faf6f6;
}
.ferro-text-waves h1:nth-child(2) {
    color: #ffff;
    animation: ferro-text-waves-animation 4s ease-in-out infinite;
}

@keyframes ferro-text-waves-animation {
    0%, 100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

/* Ferro Text Waves End*/



/* Ferro Text Split */
span{
    display: inline-block;
}

/* Ferro Text Split End*/

/* Ferro Img Shift */
.ferro-img-shift{
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* Ferro Img Shift End */

/* Ferro Text Underline */
.ferro-text-underline {
    position: relative;
    cursor: pointer;
    --f-text-underline : #000;
    --f-text-underline-height : 3px;
}

.ferro-text-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: var(--f-text-underline-height);
    bottom: 0;
    left: 0;
    background-color: var(--f-text-underline);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.ferro-text-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* Ferro Text Underline End */

/* Ferro Mouse Follower */
.ferro-mouse-follower-ball {
    --f-m-ball-size : 50px;
    width: var(--f-m-ball-size);
    height: var(--f-m-ball-size);;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    z-index: 100;
}
/* Ferro Mouse Follower End */

/* Ferro Button */
.ferro-button{
    height: min-content;
    overflow: hidden;
    transition: all .3s ease;
    span{
        display: block;
        color: inherit;
        transition: inherit;
        font-size: inherit;
    }
}
.ferro-button:hover span:nth-child(1){
    transform: translateY(-100%);

}
.ferro-button:hover span:nth-child(2){
    transform: translateY(-100%);
}
/* Ferro Button End*/